---
---

@import "bootstrap-dark";
@import "syntax-highlighting";
@import "main";


  .page-title {
    color: #7c81f2;
  }

  h4 a {
    color: #d6f511;
    text-decoration: none;
  }
  
  h4 a:hover {
    color: #d6f511;
    text-decoration: underline;
  }